.place__title {
    grid-area: heading;
    margin: 0;
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
}

@media screen and (max-width: 1190px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 950px) {
    .place__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 46px;
        align-items: baseline;
    }
}

@media screen and (max-width: 450px) {
    .place__title {
        max-width: 288px;
        padding-right: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
  .place__title {
        padding-left: 16px;
  }
}
