.lead {
    padding: 56px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 48px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 48px 0 0;
    }
}