.header__logo {
    max-width: 176px;
    max-height: 52px;
    padding-top: 5px;
}

@media screen and (max-width: 520px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
    }
}