.header {
    padding: 28px 48px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 820px) {
    .header {
        padding-top: 30px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 520px) {
    .header {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
