.lead__title {
   margin: 0 0 32px; 
   max-width: 720px;
   font-weight: 900;
   font-size: 96px;
   line-height: 100px;
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 720px;
        margin: 0 24px 32px;
    }
}

@media screen and (max-width: 680px) {
    .lead__title {
        max-width: 450px;
        margin: 0 0 16px;
        font-size: 50px;
        line-height: 44px;
    }
}

@media screen and (max-width: 420px) {
    .lead__title {
        max-width: 288px;
        margin: 0 16px 16px;
        font-size: 40px;
        line-height: 44px;
    }
}