.lead__title {
   margin: 0 0 32px;
   max-width: 720px;
   font-weight: 900;
   font-size: 96px;
   line-height: 100px;
}

@media screen and (max-width: 750px) {
    .lead__title {
        margin-left: 24px;
        margin-right: 24px;
        font-size: 50px;
        line-height: 44px;
    }
}

@media screen and (max-width: 680px) {
    .lead__title {
        max-width: 600px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
        font-size: 50px;
        line-height: 44px;
    }
}

@media screen and (max-width: 450px) {
    .lead__title {
        max-width: 288px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 40px;
    }
}
