.intro {
    max-width: 690px;
    margin: 0;
    padding: 0px 0px 92px 148px;
}

@media screen and (max-width: 1000px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 710px) {
    .intro {
        padding-left: 24px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-left: 16px;
        padding-bottom: 64px;
    }
}