.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 18px;
}

@media screen and (max-width: 638px) {
    .footer__list {
        flex-direction: column;
        justify-content: flex-start;
        column-gap: 32px;
    }
}