.header__lang-links {
    margin: 0;
    padding: 15px 0 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 18px;
    text-align: right;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        padding-bottom: 7px;
    }
}
