.place__website {
    grid-area: URL;
    align-self: flex-end;
}

@media screen and (max-width: 3768px) {
    .place__website {
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        padding-left: 16px;
    }
}
